{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Education</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {#    <link rel="manifest" href="site.html">#}
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/logo/junior.png' %}" width="50%">

    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/progressbar_barfiller.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/gijgo.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/animated-headline.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
</head>

<body>


<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <img src="{% static 'assets/img/logo/junior.png' %}" alt="">
            </div>
        </div>
    </div>
</div>


<header>

    <div class="header-area">
        <div class="main-header ">
            <div class="header-top d-none d-sm-block">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="d-flex justify-content-between flex-wrap align-items-center">
                                <div class="header-info-left">
                                    <ul>
                                        <li><i class="fas fa-map-marker-alt"></i> TMV Colonu Mukund Nagar 37</li>
                                        <li><i class="fas fa-phone-alt"></i> 020 2447 3117</li>
                                    </ul>
                                </div>
                                <div class="header-info-right">
                                    <ul class="header-social">
                                        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bottom  header-sticky">
                <div class="container-fluid">
                    <div class="row align-items-center">

                        <div class="col-xl-2 col-lg-2">
                            <div class="logo">
                                <a href="/"><img src="{% static 'assets/images1/tilak.png' %}" alt=""
                                                 width="40%"></a>
                                <!-- <a href="/"><img src="{% static 'assets/img/logo/junior.png' %}" alt="" width="100%"></a> -->

                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-10">

                            <div class="main-menu f-right d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a href="/">Home</a></li>
                                        <li><a href="">School</a>
                                            <ul class="submenu">
                                                <li>
                                                    <a href="/attendance/">Attendance</a>
                                                    <a href="/parents-participantion/">Parents Participantion</a>
                                                    <a href="/general-rules/">General Rules</a>
                                                    <a href="/holiday-list/"> Holiday List</a>

                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="/about/">About</a></li>
                                        {#                                        <li><a href="">Admission</a></li>#}
                                        <li><a href="/events/">Event </a></li>
                                        <li><a href="">Gallery</a></li>
                                        <li><a href="/contact/">Contact</a></li>
{#                                        <li><a href="/school-admin/">School Admin</a></li>#}

                                        <li>
                                            <div class="header-right-btn f-right  ml-15">
                                                <a href="/accounts/login" class="header-btn">Enroll Now</a>
                                            </div>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</header>
<main>

    <section class="slider-area slider-area2">
        <div class="slider-active">

            <div class="single-slider slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-8 col-lg-11 col-md-12">
                            <div class="hero__caption hero__caption2">
                                <h1 data-animation="bounceIn" data-delay="0.2s">Event</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="blog_area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mb-5 mb-lg-0">
                    <div class="blog_left_sidebar">
                        {% for event in events %}
                            <article class="blog_item">
                                <div class="blog_item_img">
                                    <img class="card-img rounded-0"
                                         src="/media/{{ event.event_photo }}"
                                         alt="">
                                    <a href="#" class="blog_item_date">
                                        <h3>{{ event.event_date }}</h3>
                                        {#                                        <p>Jan</p>#}
                                    </a>
                                </div>
                                <div class="blog_details">
                                    <a class="d-inline-block" href="#">
                                        <h2 class="blog-head" style="color: #2d2d2d;">{{ event.event_title }}</h2>
                                    </a>
                                    <p>{{ event.event_info }}
                                    </p>
                                    <ul class="blog-info-link">
                                        <!-- <li><a href="#"><i class="fa fa-user"></i> Travel, Lifestyle</a></li>
                                        <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li> -->
                                    </ul>
                                </div>
                            </article>
                        {% endfor %}
                        {#                        <article class="blog_item">#}
                        {#                            <div class="blog_item_img">#}
                        {#                                <img class="card-img rounded-0" src="{% static 'assets/images1/Donation to poor/donate.jpg' %}' %}" alt="">#}
                        {#                                <a href="#" class="blog_item_date">#}
                        {#                                    <h3>11</h3>#}
                        {#                                    <p>Feb</p>#}
                        {#                                </a>#}
                        {#                            </div>#}
                        {#                            <div class="blog_details">#}
                        {#                                <a class="d-inline-block" href="#">#}
                        {#                                    <h2 class="blog-head" style="color: #2d2d2d;">Donation Drive:</h2>#}
                        {#                                </a>#}
                        {#                                <p>The senior kg students went to give the collected material to the home for needy.#}
                        {#                                    When the values of kindness, compassion and giving are rooted since such an early#}
                        {#                                    age in you.#}
                        {#                                </p>#}
                        {#                                <!-- <ul class="blog-info-link">#}
                        {#                                    <li><a href="#"><i class="fa fa-user"></i> Travel, Lifestyle</a></li>#}
                        {#                                    <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li>#}
                        {#                                </ul> -->#}
                        {#                            </div>#}
                        {#                        </article>#}
                        {#                        <article class="blog_item">#}
                        {#                            <div class="blog_item_img">#}
                        {#                                <img class="card-img rounded-0" src="{% static 'assets/images1/Gathering/IMG_5842 (2).jpg' %}' %}" alt="">#}
                        {#                                <a href="#" class="blog_item_date">#}
                        {#                                    <h3>12</h3>#}
                        {#                                    <p>March</p>#}
                        {#                                </a>#}
                        {#                            </div>#}
                        {#                            <div class="blog_details">#}
                        {#                                <a class="d-inline-block" href="#">#}
                        {#                                    <h2 class="blog-head" style="color: #2d2d2d;">Clay modelling:</h2>#}
                        {#                                </a>#}
                        {#                                <p>Clay modelling is a great way to develop child’s fine motor skills, imagination &#}
                        {#                                    spark creativity!#}
                        {#                                </p>#}
                        {##}
                        {#                            </div>#}
                        {#                        </article>#}
                        {#                        <article class="blog_item">#}
                        {#                            <div class="blog_item_img">#}
                        {#                                <img class="card-img rounded-0" src="{% static 'assets/img/teacher/flag.jpg' %}' %}" alt="">#}
                        {#                                <a href="#" class="blog_item_date">#}
                        {#                                    <h3>15</h3>#}
                        {#                                    <p>Aug</p>#}
                        {#                                </a>#}
                        {#                            </div>#}
                        {#                            <div class="blog_details">#}
                        {#                                <a class="d-inline-block" href="#">#}
                        {#                                    <h2 class="blog-head" style="color: #2d2d2d;">Independence day celebration:#}
                        {#                                    </h2>#}
                        {#                                </a>#}
                        {#                                <p>Today is a pride moment for all of us , The independence day 2018 or 15 August will#}
                        {#                                    bring a lot of celebration moments for all of us , Today it's time to celebrate our#}
                        {#                                    freedom </p>#}
                        {##}
                        {#                            </div>#}
                        {#                        </article>#}
                        {#                        <article class="blog_item">#}
                        {#                            <div class="blog_item_img">#}
                        {#                                <img class="card-img rounded-0"#}
                        {#                                     src="{% static 'assets/images1/Yoga day/65156168_494394304634918_5101138391240540160_n.jpg' %}' %}"#}
                        {#                                     alt="">#}
                        {#                                <a href="#" class="blog_item_date">#}
                        {#                                    <h3>11</h3>#}
                        {#                                    <p>Sep</p>#}
                        {#                                </a>#}
                        {#                            </div>#}
                        {#                            <div class="blog_details">#}
                        {#                                <a class="d-inline-block" href="#">#}
                        {#                                    <h2 class="blog-head" style="color: #2d2d2d;">Yoga Day#}
                        {#                                    </h2>#}
                        {#                                </a>#}
                        {#                                <p> Yoga day was celebrated by performing basic yoga by students. Teachers explained#}
                        {#                                    about importance of yoga in daily life.</p>#}
                        {##}
                        {#                            </div>#}
                        {#                        </article>#}

                        <nav class="blog-pagination justify-content-center d-flex">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a href="#" class="page-link" aria-label="Previous">
                                        <i class="ti-angle-left"></i>
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a href="#" class="page-link">1</a>
                                </li>
                                <li class="page-item active">
                                    <a href="#" class="page-link">2</a>
                                </li>
                                <li class="page-item">
                                    <a href="#" class="page-link" aria-label="Next">
                                        <i class="ti-angle-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        <aside class="single_sidebar_widget search_widget">
                            <form action="#">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" placeholder='Search Keyword'
                                               onfocus="this.placeholder = ''"
                                               onblur="this.placeholder = 'Search Keyword'">
                                        <div class="input-group-append">
                                            <button class="btns" type="button"><i class="ti-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                        type="submit">Search
                                </button>
                            </form>
                        </aside>
                        <aside class="single_sidebar_widget popular_post_widget">
                            <h3 class="widget_title" style="color: #2d2d2d;">Recent Post</h3>
                            <div class="media post_item">
                                <img src="{% static 'assets/img/post/post_1.png' %}" alt="post">
                                <div class="media-body">
                                    <a href="#">
                                        <h3 style="color: #2d2d2d;">From life was you fish...</h3>
                                    </a>
                                    <p>January 12, 2019</p>
                                </div>
                            </div>
                            <div class="media post_item">
                                <img src="{% static 'assets/img/post/post_2.png' %}" alt="post">
                                <div class="media-body">
                                    <a href="#">
                                        <h3 style="color: #2d2d2d;">The Amazing Hubble</h3>
                                    </a>
                                    <p>02 Hours ago</p>
                                </div>
                            </div>
                            <div class="media post_item">
                                <img src="{% static 'assets/img/post/post_3.png' %}" alt="post">
                                <div class="media-body">
                                    <a href="#">
                                        <h3 style="color: #2d2d2d;">Astronomy Or Astrology</h3>
                                    </a>
                                    <p>03 Hours ago</p>
                                </div>
                            </div>
                            <div class="media post_item">
                                <img src="{% static 'assets/img/post/post_4.png' %}" alt="post">
                                <div class="media-body">
                                    <a href="#">
                                        <h3 style="color: #2d2d2d;">Asteroids telescope</h3>
                                    </a>
                                    <p>01 Hours ago</p>
                                </div>
                            </div>
                        </aside>
                        <aside class="single_sidebar_widget tag_cloud_widget">
                            <h4 class="widget_title" style="color: #2d2d2d;">Tag Clouds</h4>
                            <ul class="list">
                                <li>
                                    <a href="#">project</a>
                                </li>
                                <li>
                                    <a href="#">love</a>
                                </li>
                                <li>
                                    <a href="#">technology</a>
                                </li>
                                <li>
                                    <a href="#">travel</a>
                                </li>
                                <li>
                                    <a href="#">restaurant</a>
                                </li>
                                <li>
                                    <a href="#">life style</a>
                                </li>
                                <li>
                                    <a href="#">design</a>
                                </li>
                                <li>
                                    <a href="#">illustration</a>
                                </li>
                            </ul>
                        </aside>
                        <aside class="single_sidebar_widget instagram_feeds">
                            <h4 class="widget_title" style="color: #2d2d2d;">Instagram Feeds</h4>
                            <ul class="instagram_row flex-wrap">
                                <li>
                                    <a href="#">
                                        <img class="img-fluid" src="{% static 'assets/img/post/post_5.png' %}" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="img-fluid" src="{% static 'assets/img/post/post_6.png' %}" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="img-fluid" src="{% static 'assets/img/post/post_7.png' %}" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="img-fluid" src="{% static 'assets/img/post/post_8.png' %}" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="img-fluid" src="{% static 'assets/img/post/post_9.png' %}" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="img-fluid" src="{% static 'assets/img/post/post_10.png' %}" alt="">
                                    </a>
                                </li>
                            </ul>
                        </aside>
                        <aside class="single_sidebar_widget newsletter_widget">
                            <h4 class="widget_title" style="color: #2d2d2d;">Newsletter</h4>
                            <form action="#">
                                <div class="form-group">
                                    <input type="email" class="form-control" onfocus="this.placeholder = ''"
                                           onblur="this.placeholder = 'Enter email'" placeholder='Enter email' required>
                                </div>
                                <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                        type="submit">Subscribe
                                </button>
                            </form>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>
<footer>
    <div class="footer-wrappper footer-bg">

        <div class="footer-area footer-padding">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-xl-5 col-lg-6 col-md-6 col-sm-8">
                        <div class="single-footer-caption mb-50">
                            <div class="single-footer-caption mb-30">

                                <div class="footer-logo mb-25">
                                    <a href="/"><img src="{% static 'assets/img/logo/junior.png' %}" alt=""
                                                     width="50%"></a>
                                </div>
                                <div class="footer-tittle">
                                    <div class="footer-pera">
                                        <p>
                                            Our set he for firmament morning sixth subdue today the darkness creeping
                                            gathered divide our let god moving today. Moving in fourth air night bring
                                            upon lesser subdue fowl male signs.
                                        </p>
                                    </div>
                                </div>

                                <div class="footer-social">
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="https://bit.ly/sai4ull"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Quick Links </h4>
                                <ul>
                                    <li><a href="/">Home</a></li>
                                    <li><a href="/">School</a></li>
                                    <li><a href="/about/">About</a></li>
                                    <li><a href="/admissions/">Admission</a></li>
                                    <li><a href="/events/">Events</a></li>
                                    <li><a href="/gallery/">Gallery</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>About Us</h4>
                                <ul>
                                    <li><a href="#">Expert Teachers</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">Testimonial</a></li>
                                    <li><a href="#">Programing</a></li>
                                    <li><a href="#">User Stories</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</footer>

<div id="back-top">
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>


<script src="{% static 'assets/js/vendor/modernizr-3.5.0.min.js' %}"></script>
<script src="{% static 'assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'assets/js/slick.min.js' %}"></script>

<script src="{% static 'assets/js/wow.min.js' %}"></script>
<script src="{% static 'assets/js/animated.headline.js' %}"></script>
<script src="{% static 'assets/js/jquery.magnific-popup.js' %}"></script>
<script src="{% static 'assets/js/jquery.slicknav.min.js' %}"></script>

<script src="{% static 'assets/js/gijgo.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.barfiller.js' %}"></script>
<script src="{% static 'assets/js/countdown.min.js' %}"></script>

<script src="{% static 'assets/js/contact.js' %}"></script>
<script src="{% static 'assets/js/jquery.form.js' %}"></script>
<script src="{% static 'assets/js/jquery.validate.min.js' %}"></script>
<script src="{% static 'assets/js/mail-script.js' %}"></script>
<script src="{% static 'assets/js/jquery.ajaxchimp.min.js' %}"></script>

<script src="{% static 'assets/js/plugins.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>


<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'UA-23581568-13');
</script>
</body>


</html>