{% extends 'base.html' %}
{% load static %}

{% block content %}
    <main>


        <!-- <div class="team-area section-padding">
            <div class="container">
                <div class="row justify-content-center">
                </div>
                <div class="row">


                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="single-team mb-30 text-center">
                            <div class="team-img">
                                <img src="{% static 'assets/images1/Sport day//_Q0A0077.jpg' %} ">
                                <div class="team-caption ">
                                    <div class="team-social ">
                                        <ul>
                                            <li>
                                                <a href="">
                                                    <h1>Sport Day</h1>
                                                </a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 ">
                        <div class="single-team mb-30 text-center ">
                            <div class="team-img ">
                                <img src="{% static 'assets/img/gallery/Radhika kelkar.jpg' %} " alt=" ">
                                <div class="team-caption ">
                                    <div class="team-social ">
                                        <ul>
                                            <li>
                                                <a href="# ">
                                                    <h1>Sport Day</h1>
                                                </a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 ">
                        <div class="single-team mb-30 text-center ">
                            <div class="team-img ">
                                <img src="{% static 'assets/img/gallery/Radhika kelkar.jpg' %} " alt=" ">
                                <div class="team-caption ">
                                    <div class="team-social ">
                                        <ul>
                                            <li>
                                                <a href="# ">
                                                    <h1>Sport Day</h1>
                                                </a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
 -->


        <div class=" section-bg2 section-padding40 " data-background=" ">
            <div class="container ">
                <div class="row justify-content-center ">
                    <div class="col-lg-8 col-md-10 col-sm-11 ">

                        <div class="section-tittle text-center mb-80 ">
                            <h2>Gallery</h2>
                        </div>
                    </div>
                </div>
                <div class="class-offer-active section-top-border ">
                    {% for img in images %}
                        <div class="col-lg-4 col-md-6 col-sm-6 ">

                            <div class="properties__img ">
                                <a href="#"><img src="/media/{{ img }}" alt=" "
                                                 width="100%"></a>
                                <div class="img-text ">

                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
{#                <div class="class-offer-active section-top-border ">#}
{#                    <div class="col-lg-4 col-md-6 col-sm-6 ">#}
{##}
{#                        <div class="properties__img ">#}
{#                            <a href="# "><img src="{% static 'assets/img/gallery/class-img1.png' %} " alt=" "></a>#}
{#                            <div class="img-text ">#}
{##}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-lg-4 col-md-6 col-sm-6 ">#}
{##}
{#                        <div class="properties__img ">#}
{#                            <a href="# "><img src="{% static 'assets/img/gallery/class-img1.png' %} " alt=" "></a>#}
{#                            <div class="img-text ">#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-lg-4 col-md-6 col-sm-6 ">#}
{##}
{#                        <div class="properties__img ">#}
{#                            <a href="# "><img src="{% static 'assets/img/gallery/class-img1.png' %} " alt=" "></a>#}
{#                            <div class="img-text ">#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="class-offer-active section-top-border ">#}
{#                    <div class="col-lg-4 col-md-6 col-sm-6 ">#}
{##}
{#                        <div class="properties__img ">#}
{#                            <a href="# "><img src="{% static 'assets/img/gallery/class-img1.png' %} " alt=" "></a>#}
{#                            <div class="img-text ">#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-lg-4 col-md-6 col-sm-6 ">#}
{##}
{#                        <div class="properties__img ">#}
{#                            <a href="# "><img src="{% static 'assets/img/gallery/class-img1.png' %} " alt=" "></a>#}
{#                            <div class="img-text ">#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-lg-4 col-md-6 col-sm-6 ">#}
{##}
{#                        <div class="properties__img ">#}
{#                            <a href="# "><img src="{% static 'assets/img/gallery/class-img1.png' %} " alt=" "></a>#}
{#                            <div class="img-text ">#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}

            </div>
        </div>


    </main>
{% endblock %}