{% extends 'base.html' %}
{% load static %}

{% block content %}
<main>


        <div class="team-area section-padding">
            <div class="container">
                <div class="row justify-content-center">
                </div>
                <div class="row">


                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="single-team mb-30 text-center">
                            <div class="team-img">
                                <img src="{% static 'assets/images1/Sport day/_Q0A0077.JPG' %} ">
                                <div class="team-caption ">
                                    <div class="team-social ">
                                        <ul>
                                            <li>
                                                <a href="/sportday/">
                                                    <h1>Sport Day</h1>
                                                </a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 ">
                        <div class="single-team mb-30 text-center ">
                            <div class="team-img ">
                                <img src="{% static 'assets/images1/wari/68755026_530410264366655_8776108058343374848_n.jpg' %}" alt=" ">
                                <div class="team-caption ">
                                    <div class="team-social ">
                                        <ul>
                                            <li>
                                                <a href="/wari/">
                                                    <h1>Wari</h1>
                                                </a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 ">
                        <div class="single-team mb-30 text-center ">
                            <div class="team-img ">
                                <img src="{% static 'assets/images1/Yoga day/65156168_494394304634918_5101138391240540160_n.jpg' %}" alt=" ">
                                <div class="team-caption ">
                                    <div class="team-social ">
                                        <ul>
                                            <li>
                                                <a href="/yoga/">
                                                    <h1>Yoga Day</h1>
                                                </a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="row">


                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="single-team mb-30 text-center">
                            <div class="team-img">
                                <img src="{% static 'assets/images1/navratra/71477809_10156528945090978_6852250579918389248_n.jpg' %}">
                                <div class="team-caption ">
                                    <div class="team-social ">
                                        <ul>
                                            <li>
                                                <a href="/navratri/">
                                                    <h1>Navratra</h1>
                                                </a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 ">
                        <div class="single-team mb-30 text-center ">
                            <div class="team-img ">
                                <img src="{% static 'assets/images1/Dussehra/20191007_111332.jpg' %}" alt=" ">
                                <div class="team-caption ">
                                    <div class="team-social ">
                                        <ul>
                                            <li>
                                                <a href="/dushera/">
                                                    <h1>Dussehra</h1>
                                                </a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 ">
                        <div class="single-team mb-30 text-center ">
                            <div class="team-img ">
                                <img src="{% static 'assets/images1/Holi/IMG_20180301_114831.jpg' %}" alt=" ">
                                <div class="team-caption ">
                                    <div class="team-social ">
                                        <ul>
                                            <li>
                                                <a href="/holi/">
                                                    <h1>Holi</h1>
                                                </a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="row">


                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="single-team mb-30 text-center">
                            <div class="team-img">
                                <img src="{% static 'assets/images1/funfair/79952286_10156728766095978_4009422519948804096_n.jpg' %}">
                                <div class="team-caption ">
                                    <div class="team-social ">
                                        <ul>
                                            <li>
                                                <a href="/funfair/">
                                                    <h1>Funfair</h1>
                                                </a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 ">
                        <div class="single-team mb-30 text-center ">
                            <div class="team-img ">
                                <img src="{% static 'assets/images1/Ganpati visarjan/69264359_10156474052445978_608084033863155712_n.jpg' %}" alt=" ">
                                <div class="team-caption ">
                                    <div class="team-social ">
                                        <ul>
                                            <li>
                                                <a href="/ganpati/">
                                                    <h1>Ganpati Visarjan</h1>
                                                </a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 ">
                        <div class="single-team mb-30 text-center ">
                            <div class="team-img ">
                                <img src="{% static 'assets/images1/Gathering/IMG_5838.JPG' %}" alt=" ">
                                <div class="team-caption ">
                                    <div class="team-social ">
                                        <ul>
                                            <li>
                                                <a href="/gathering/">
                                                    <h1>Gathering</h1>
                                                </a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="row">


                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="single-team mb-30 text-center">
                            <div class="team-img">
                                <img src="{% static 'assets/images1/Christmas/20191224_115114.jpg' %}">
                                <div class="team-caption ">
                                    <div class="team-social ">
                                        <ul>
                                            <li>
                                                <a href="/chrismas/">
                                                    <h1>Christmas</h1>
                                                </a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 ">
                        <div class="single-team mb-30 text-center ">
                            <div class="team-img ">
                                <img src="{% static 'assets/images1/Donation to poor/88009080_10156938271685978_469962653037494272_n.jpg' %}" alt=" ">
                                <div class="team-caption ">
                                    <div class="team-social ">
                                        <ul>
                                            <li>
                                                <a href="/donation/">
                                                    <h1>Donation to poor Kid's</h1>
                                                </a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 ">
                        <div class="single-team mb-30 text-center ">
                            <div class="team-img ">
                                <img src="{% static 'assets/images1/janmashtami/69352253_534513317289683_506045905946804224_n.jpg' %}" alt=" ">
                                <div class="team-caption ">
                                    <div class="team-social ">
                                        <ul>
                                            <li>
                                                <a href="/janmastami/">
                                                    <h1>Janmashtami</h1>
                                                </a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="row">


                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="single-team mb-30 text-center">
                            <div class="team-img">
                                <img src="{% static 'assets/images1/Other/20191203_105107 (1).jpg' %}">
                                <div class="team-caption ">
                                    <div class="team-social ">
                                        <ul>
                                            <li>
                                                <a href="/other/">
                                                    <h1>Other</h1>
                                                </a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- <div class="col-lg-4 col-md-4 col-sm-6 ">
                        <div class="single-team mb-30 text-center ">
                            <div class="team-img ">
                                <img src="{% static 'assets/images1/Donation to poor/88009080_10156938271685978_469962653037494272_n.JPG' %}" alt=" ">
                                <div class="team-caption ">
                                    <div class="team-social ">
                                        <ul>
                                            <li>
                                                <a href="# ">
                                                    <h1>Donation to poor Kid's</h1>
                                                </a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 ">
                        <div class="single-team mb-30 text-center ">
                            <div class="team-img ">
                                <img src="{% static 'assets/images1/Other/20191203_105107 (1).JPG' %}" alt=" ">
                                <div class="team-caption ">
                                    <div class="team-social ">
                                        <ul>
                                            <li>
                                                <a href="# ">
                                                    <h1>Other</h1>
                                                </a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div> -->

                </div>

            </div>
        </div>


        <!--
        <div class=" section-bg2 section-padding40 " data-background=" ">
            <div class="container ">
                <div class="row justify-content-center ">
                    <div class="col-lg-8 col-md-10 col-sm-11 ">

                        <div class="section-tittle text-center mb-80 ">
                            <h2>Gallery</h2>
                        </div>
                    </div>
                </div>
                <div class="class-offer-active section-top-border ">
                    <div class="col-lg-4 col-md-6 col-sm-6 ">

                        <div class="properties__img ">
                            <a href="# "><img src="{% static 'assets/img/gallery/class-img1.png' %} " alt=" "></a>
                            <div class="img-text ">

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 ">

                        <div class="properties__img ">
                            <a href="# "><img src="{% static 'assets/img/gallery/class-img1.png' %} " alt=" "></a>
                            <div class="img-text ">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 ">

                        <div class="properties__img ">
                            <a href="# "><img src="{% static 'assets/img/gallery/class-img1.png' %} " alt=" "></a>
                            <div class="img-text ">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="class-offer-active section-top-border ">
                    <div class="col-lg-4 col-md-6 col-sm-6 ">

                        <div class="properties__img ">
                            <a href="# "><img src="{% static 'assets/img/gallery/class-img1.png' %} " alt=" "></a>
                            <div class="img-text ">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 ">

                        <div class="properties__img ">
                            <a href="# "><img src="{% static 'assets/img/gallery/class-img1.png' %} " alt=" "></a>
                            <div class="img-text ">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 ">

                        <div class="properties__img ">
                            <a href="# "><img src="{% static 'assets/img/gallery/class-img1.png' %} " alt=" "></a>
                            <div class="img-text ">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <div class="row ">
                    <div class="col-lg-12 ">
                        <div class="browse-all text-center mt-30 ">
                            <a href="# " class="border-btn ">More Photo</a>
                        </div>
                    </div>
                </div> -->
        </div>
        </div> -->


    </main>
{% endblock %}