{% extends 'base.html' %}
{% load static %}

{% block content %}


{#        <section class="slider-area slider-area2">#}
{#            <div class="slider-active">#}
{##}
{#                <div class="single-slider slider-height2 d-flex align-items-center">#}
{#                    <div class="container">#}
{#                        <div class="row">#}
{#                            <div class="col-xl-8 col-lg-11 col-md-12">#}
{#                                <div class="hero__caption hero__caption2">#}
{#                                    <h1 data-animation="bounceIn" data-delay="0.2s">General Rules </h1>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </section>#}

        <div class="whole-wrap">
            <div class="container box_1170">
                <div class="section-top-border">
                    <div class="section-tittle text-center mb-80">
                        <h2>General Rools</h2>
                    </div>
                    <div class="row mb-80">
                        <div class="col-lg-4">
                            <img src="{% static 'assets/images1/Donation to poor/donate.jpg' %}" alt="" class="img-fluid">
                        </div>
                        <div class="col-lg-8">
                            <h1>Attendance</h1>
                            <p style="text-align: justify;">
                                ❖ All Pupils should compulsorily be present on the school re opening day and last day. Non availability of transport facility will not be accepted as a reason for joining school late unless prior permission is obtained. <br>                                ❖In case of illness, on returning school pupil must bring note in calendar from his parents certifying the fact. Failure in sending the same the pupil will be sent home even during school hours. <br> ❖ Pupils suffering
                                from any infection/disease should produce medical certificate for the same. Pupils must look after their own belongings. <br> ❖ Pupils should carry labels of their respective names, standard on their belongings i.e uniform,
                                bags, raincoat, notebooks etc. <br>❖ Not advisable for any child to carry cash or valuable articles with them to school premises.
                            </p>
                        </div>

                    </div>
                    <div class="row mb-80">
                        <div class="col-lg-4">
                            <img src="{% static 'assets/images1/Donation to poor/donate.jpg' %}" alt="" class="img-fluid">
                        </div>
                        <div class="col-lg-8">
                            <h1>Uniform</h1>
                            <p style="text-align: justify;">
                                ❖ Pupil is advised to wear clean and ironed school uniform during school days, school functions, examinations. <br> ❖ P.T Uniform to be worn on mass drill days.
                            </p>
                        </div>

                    </div>
                    <div class="row mb-80">
                        <div class="col-lg-4">
                            <img src="{% static 'assets/images1/Donation to poor/donate.jpg' %}" alt="" class="img-fluid">
                        </div>
                        <div class="col-lg-8">
                            <h1>Parents participation</h1>
                            <p style="text-align: justify;">
                                ❖ Homework given in diaries to be signed by parents as a proof of having read it. <br> ❖ Parents/guardians/attendant cannot go to class and meet the pupil directly during school hours for any reason. <br> ❖ Parents can
                                meet teachers by prior appointment only on Saturday. <br> ❖ It is the duty of the Parent to see that the child comes to school with his/her bags, clean uniform, books and in time for class. <br> ❖ Leave record to be sent
                                by the parents mandatorily on account of casual leaves taken by the child. <br> ❖ Parents must check and sign messages sent in their child’s diary.

                            </p>
                        </div>

                    </div>

                    <div class="row mb-80">
                        <div class="col-lg-4">
                            <img src="{% static 'assets/images1/Donation to poor/donate.jpg' %}" alt="" class="img-fluid">
                        </div>
                        <div class="col-lg-8">
                            <h1>General Rules</h1>
                            <p style="text-align: justify;">
                                ❖ Child must communicate only in English <br> ❖ Child must carry his/her calendar and ID card every day. <br> ❖ Child’s hair should be combed properly & cut regularly, nails to be trimmed regularly. <br> ❖ Late comers,
                                uniform defaulters, child not doing homework will be sent back home. <br> ❖ Girls should wear black hair band with regular and sports uniform.

                            </p>
                        </div>

                    </div>
                    <div class="row mb-80">
                        <div class="col-lg-4">
                            <img src="{% static 'assets/images1/Donation to poor/donate.jpg' %}" alt="" class="img-fluid">
                        </div>
                        <div class="col-lg-8">
                            <h1>Books</h1>
                            <p style="text-align: justify;">❖ Cover the books whit transparent cover and label it properly with marker. <br> ❖ Ensure that the child does his\her home work regularly. <br> ❖ Send books according to the timetable to reduce weight of school bag. <br> ❖
                                Teach the child to keep the books neat and tidy. <br> ❖ There are two sets of notebooks. Send only one set for first term. Keep other notebooks for second term at home.

                            </p>
                        </div>

                    </div>
                    <div class="row mb-80">
                        <div class="col-lg-4">
                            <img src="{% static 'assets/images1/Donation to poor/donate.jpg' %}" alt="" class="img-fluid">
                        </div>
                        <div class="col-lg-8">
                            <h1>School Timing</h1>
                            <p style="text-align: justify;">
                                ❖ Reporting time for school is 7.40 am <br> ❖ School timings are from 7.45 am to 2.10 pm <br> ❖ If the child is absent due to illness, a medical certificate should be submitted to the class teacher. <br> ❖ Please avoid
                                absentee during exams <br> ❖ Do not send the child to school if they are suffering from illness or infection.

                            </p>
                        </div>

                    </div>
                    <div class="row mb-80">
                        <div class="col-lg-4">
                            <img src="{% static 'assets/images1/Donation to poor/donate.jpg' %}" alt="" class="img-fluid">
                        </div>
                        <div class="col-lg-8">
                            <h1>SCHOOL FEES</h1>
                            <p style="text-align: justify;">
                                At the time of admission parents are advised to pay the following fees: <br> 1. Form Fees <br> 2. Registration Fees (Non refundable) <br> 3. School Kit Fees includes <br> - 1 regular uniform, 1 P.T uniform, 1 pair of socks,
                                tie, belt. <br> - Text books and Notebooks for the entire year. <br> - Stationary for the entire year. <br> 1st Term Fee is due during Admission <br> 2nd Term Fee is due in the month of September.



                            </p>
                        </div>

                    </div>

                    <div class="row mb-80">
                        <div class="col-lg-4">
                            <img src="{% static 'assets/images1/Donation to poor/donate.jpg' %}" alt="" class="img-fluid">
                        </div>
                        <div class="col-lg-8">
                            <h1>Asseessment</h1>
                            <p style="text-align: justify;">
                                ● Tests will be conducted according to scheduled Time Table
                                <br> ● The average marks of the unit test, half yearly and final examination will be considered for promotion to next class
                                <br> ● A pupil absent during any Test or examination will on no account be retested.
                                <br> ● Cheating in an examination will result in a zero in the subject and if repeated, dismissal from the school
                                <br> ● No student will be allowed to go home early after appearing for a test.
                                <br> ● In the event of unit test/assessments having to be postponed owing to unavoidable circumstances, they will be conducted after the last test.
                                <br> ● Failure in English will result in destination preceded by three strict warnings which will be strictly observed.

                            </p>
                        </div>

                    </div>
                    <div class="row mb-80">
                        <div class="col-lg-4">
                            <img src="{% static 'assets/images1/Donation to poor/donate.jpg' %}" alt="" class="img-fluid">
                        </div>
                        <div class="col-lg-8">
                            <h1>Extra Curricular Activities</h1>
                            <p style="text-align: justify;">
                                ● The school has various clubs to enhance the personality of the student.
                                <br> ● Physical education and Games are a compulsory part of the curriculum.
                                <br> ● The school has Computer classes from STD 1 to 4.
                                <br> ● Educational Tour is arranged every year for all the classes.

                            </p>
                        </div>

                    </div>
                    <div class="row mb-80">
                        <div class="col-lg-4">
                            <img src="{% static 'assets/images1/Donation to poor/donate.jpg' %}" alt="" class="img-fluid">
                        </div>
                        <div class="col-lg-8">
                            <h1>Withdrawal</h1>
                            <p style="text-align: justify;">
                                ● No leaving certificate will be issued unless the parents or guardians make a request in writing in the prescribed form provided at the back of the school diary. <br> ● Once clear calendar month’s notice of withdrawal
                                is required. If one month’s notice is not given, then a terms fee following that in which the child is withdrawn will be changed. <br> ● If the pupil is withdrawn in April/November the fees for May/December must be paid.

                            </p>
                        </div>

                    </div>
                    <div class="row mb-80">
                        <div class="col-lg-4">
                            <img src="{% static 'assets/images1/Donation to poor/donate.jpg' %}" alt="" class="img-fluid">
                        </div>
                        <div class="col-lg-8">
                            <h1>Library Fees</h1>
                            <p style="text-align: justify;">
                                Books will be issued to the students during the regular library periods.In case of the book being lost the student will either have to replace it or pay for it.
                            </p>
                        </div>

                    </div>
                    <div class="row mb-80">
                        <div class="col-lg-4">
                            <img src="{% static 'assets/images1/Donation to poor/donate.jpg' %}" alt="" class="img-fluid">
                        </div>
                        <div class="col-lg-8">
                            <h1>Transport</h1>
                            <p style="text-align: justify;">
                                Bus facility is available on fixed routes with designated stops. All students have to behave properly. Using the bus is a privilege and not a right. Students traveling by bus are required to follow the rules ● Respect the school bus driver and always
                                follow their instructions.
                                <br> ● Students must remain in their seat and passageway (aisle) must be clear.
                                <br> ● Keep head, hands and feet inside the bus
                                <br> ● Though utmost care is taken while transporting the children, the school will not be held responsible for any untoward incident.
                                <br> In case of an emergency and the child has to leave school before school hours following procedure to be followed:
                                <br> ● Written request from parents.
                                <br> ● Permission slip obtained from the office and signed by the authorities too.


                                <br>
                            </p>
                        </div>

                    </div>




                </div>
            </div>
        </div>



    </main>

{% endblock %}