{% extends 'base.html' %}
{% load  static %}

{% block content %}
    {#    <main>#}

    {#        <section class="slider-area slider-area2">#}
    {#            <div class="slider-active">#}
    {##}
    {#                <div class="single-slider slider-height2 d-flex align-items-center">#}
    {#                    <div class="container">#}
    {#                        <div class="row">#}
    {#                            <div class="col-xl-8 col-lg-11 col-md-12">#}
    {#                                <div class="hero__caption hero__caption2">#}
    {#                                    <h1 data-animation="bounceIn" data-delay="0.2s">Holiday / Timing </h1>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </section>#}

    <div class="whole-wrap">
        <div class="container box_1170">
            <div class="section-top-border">
                <div class="section-tittle text-center mb-80">
                    <h2>Holiday</h2>
                </div>
                <table class="table table-bordered text-center">
                    <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Day</th>
                        <th scope="col">Holiday</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>20/07/ 2021</td>
                        <td>Tuesday</td>
                        <td>Aashadi Ekadashi</td>
                    </tr>
                    <tr>
                        <td>21/07/ 2021</td>
                        <td>Wednesday</td>
                        <td>Bakri Eid</td>
                    </tr>
                    <tr>
                        <td>13/08/ 2021</td>
                        <td>Friday</td>
                        <td>Naag Panchami</td>
                    </tr>
                    <tr>
                        <td>15/08/ 2021</td>
                        <td>Sunday</td>
                        <td>Independence Day</td>
                    </tr>
                    <tr>
                        <td>16/08/2021</td>
                        <td>Monday</td>
                        <td>Parsi New Year</td>
                    </tr>
                    <tr>
                        <td>19/08/2021</td>
                        <td>Thursday</td>
                        <td>Moharam</td>
                    </tr>
                    <tr>
                        <td>22/08/2021</td>
                        <td>Sunday</td>
                        <td>Rakshabandhan</td>

                    </tr>
                    <tr>
                        <td>31/08/2021</td>
                        <td>Tuesday</td>
                        <td>Gopalkala</td>
                    </tr>
                    <tr>
                        <td>10/08/2021</td>
                        <td>Friday</td>
                        <td>Ganesh chaturthi</td>
                    </tr>
                    <tr>
                        <td>13/09/2021</td>
                        <td>Monday</td>
                        <td>Gauri Poojan</td>
                    </tr>
                    <tr>
                        <td>19/09/2021</td>
                        <td>Sunday</td>
                        <td>Anant Chaturdashi</td>
                    </tr>
                    <tr>
                        <td>20/09/2021</td>
                        <td>Monday</td>
                        <td>Visarjan</td>
                    </tr>
                    <tr>
                        <td>02/10/2021</td>
                        <td>Saturday</td>
                        <td>Gandhi Jayanti</td>
                    </tr>
                    <tr>
                        <td>07/10/2021</td>
                        <td>Thursday</td>
                        <td>Ghatsthapana</td>
                    </tr>
                    <tr>
                        <td>15/10/2021</td>
                        <td>Friday</td>
                        <td>Dushera</td>
                    </tr>
                    <tr>
                        <td>19/10/2021</td>
                        <td>Tuesday</td>
                        <td>Eid milad</td>
                    </tr>
                    <tr>
                        <td>1st Nov to 14th Nov</td>
                        <td>-</td>
                        <td>Diwali Vacation</td>
                    </tr>
                    <tr>
                        <td>19/11/2021</td>
                        <td>Friday</td>
                        <td>Gurunanak Jayanti</td>
                    </tr>
                    <tr>
                        <td>27th Dec to 2nd Jan</td>
                        <td>-</td>
                        <td>Christmas Vacation</td>
                    </tr>
                    <tr>
                        <td>14/01/2022</td>
                        <td>Friday</td>
                        <td>Makar Sankranti</td>
                    </tr>
                    <tr>
                        <td>26/01/2022</td>
                        <td>Wednesday</td>
                        <td>Republic Day</td>
                    </tr>
                    <tr>
                        <td>19/02/2022</td>
                        <td>Saturday</td>
                        <td>Shiv Jayanti</td>
                    </tr>
                    <tr>
                        <td>01/03/2022</td>
                        <td>Tuesday</td>
                        <td>Mahashivratri</td>
                    </tr>
                    <tr>
                        <td>18/03/2022</td>
                        <td>Friday</td>
                        <td>Dhulivandan</td>
                    </tr>
                    <tr>
                        <td>02/04/2022</td>
                        <td>Saturday</td>
                        <td>Gudi Padwa</td>
                    </tr>
                    <tr>
                        <td>10/04/2022</td>
                        <td>Sunday</td>
                        <td>Raamnavmi</td>
                    </tr>
                    <tr>
                        <td>14/04/2022</td>
                        <td>Thursday</td>
                        <td>Ambedkar Jayanti / Mahaveer Jayanti</td>
                    </tr>
                    <tr>
                        <td>15/04/2022</td>
                        <td>Friday</td>
                        <td>Good Friday</td>

                    </tr>
                    </tbody>
                </table>
                <div class="section-tittle text-center mb-80">
                    <h2>Timing</h2>
                </div>

            </div>
        </div>
    </div>


    </main>
{% endblock %}